/* GP MOBILE RATGEBER CSS 
========================= */

/* BASIC STYLES */

/* Last Updated: 16.02.2012 10:50 */
/* By: Laurent LANG */


/* Reset
======== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


/* Basic styles
=============== */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0,0,0,0); }

body { background: #fff; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 13px; line-height: normal; color: #414759; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clearfix { height: 1%; } /* IE6 */ 
*:first-child+html .clearfix { min-height: 1px; } /* IE7 */


/* Links 
======== */

a, a:visited { color: #467F0D; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #467F0D; text-decoration: none; }


/* Header 
========= */

#header { height: 49px; background: url(bg-header.png) repeat-x; position: relative; border-bottom: 1px solid #6C6C6C; }

.logo { width: 154px; overflow: hidden; position: absolute; top: 10px; left: 14px; }
.logo a { display: block; background: url(logo.png) no-repeat; height: 27px; }

.heading { position: absolute; display: block; left: 172px; top: 20px; font-size: 16px; line-height: 16px; color: #fff; }


/* Content 
========== */

/* Specific styles can be found in the following stylesheets:

	fisch-ratgeber-2011.css
	tunfisch-ranking-2011.css

*/


/* Footer
========= */

.back-button { background: #56AC00 url(bg-back-green.png) repeat-x; border-top: 1px solid #54A109; border-bottom: 1px solid #54A109; height: 48px; display: block; }
.back-button a { cursor: auto; height: 48px; }
.back-button span { padding: 16px 16px 16px 20px; margin: 0 0 0 12px; display: block; color: #fff; background: url(arrow-left-light-darkbg.gif) no-repeat left; font-family: Arial, sans-serif; font-weight: bold; font-size: 15px; text-shadow: 1px 1px 2px #000; }

.back-button-hover { background: url(bg-back-hover.png) repeat-x; -webkit-user-select: none; -webkit-touch-callout: none; }

.copyright { padding: 8px 14px; color: #969696; font-size: 12px; font-weight: bold; }
.copyright a { color: #467F0D; text-decoration: none; }


/* Media Queries 
================ */

/* High Tier */
@media only screen and (min-width: 320px) and (max-width: 480px) { 
	
	
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {


}


/* Mid Tier */
@media only screen and (max-width: 319px) { 
	
	.back-button span { font-size: 14px; }
	.copyright { font-size: 11px; }
			
}


/* Low Tier */
@media only screen and (max-width: 239px) { 
	
	.heading { display: none; }
	.back-button span { font-size: 13px; }
	
}

